<!DOCTYPE html>
<!--  Esto es un comentario -->
<html>
    <head>
        <title>Hotelera</title>
        <meta charset="UTF-8">      
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Hotelera Hotel Barato</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="#">Reservas</a>
                            <a class="nav-link" href="#">opc2</a>
                            <a class="nav-link" href="#">opc3</a>
                            <a class="nav-link disabled" aria-disabled="true">opc4</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <section>
            <h2>Habitaciones Frecuentes</h2>
            <article>
                <hr/>
                <h2>hotel 3</h2>                
                <figure>
                    <img src="https://i.pinimg.com/564x/98/1e/3b/981e3baa95f9b3705ab12fee9ea644ca.jpg" height="250" alt="alt"/>
                    <figcaption>Servidor de alto perfil <a href="#">Comprar</a></figcaption>
                </figure>
                <br/>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tellus dictumst hac volutpat, venenatis nibh dignissim mauris quam montes proin at praesent. Curabitur porta pellentesque sem sagittis massa ante lacus, suspendisse mauris hendrerit dui posuere scelerisque, blandit faucibus quis molestie dictumst aliquet. Fringilla aenean sem consequat cum viverra cras natoque ac praesent magnis, blandit diam fusce quam sollicitudin curae at mus ridiculus eleifend, ligula donec leo nibh proin convallis per congue nec.</p>
                <br/>
            </article>

            <article>
                <hr/>
                <h2>Hotel 1</h2>

                <figure>
                    <img src="https://t2.uc.ltmcdn.com/es/posts/6/1/1/como_reservar_una_habitacion_por_horas_en_un_hotel_de_lujo_18116_600.jpg" height="150" alt="alt"/>
                    <figcaption>Servidor de gama media <a href="#">Comprar</a></figcaption>
                </figure>
                <br/>
                <p>Habitasse nibh scelerisque platea taciti turpis quisque potenti nam, vehicula praesent quam sed orci tortor. Nam netus cum risus nullam auctor congue malesuada est magnis, penatibus morbi rutrum magna semper phasellus euismod mauris. Mollis pharetra eu penatibus senectus sociis facilisis eleifend, sem porta nascetur varius id diam congue, habitasse porttitor eros dis dapibus lectus.</p>           
                <br/>
            </article>

            <article>
                <hr/>
                <h2>Hotel 2</h2>                
                <figure>
                    <img src="https://www.cosemarozono.com/wp-content/uploads/2017/02/eliminar-olores-en-habitaciones-de-hotel-con-ozono.jpg" height="150" alt="alt"/>
                    <figcaption>Lo nuevo <a href="#">Comprar</a></figcaption>
                </figure>
                <br/>
                <p>Consequat praesent egestas dictumst dapibus viverra platea interdum hac neque auctor, natoque taciti ultrices primis mauris varius aptent quisque ac per, torquent vivamus curae potenti sed placerat fringilla pharetra facilisis. Fermentum bibendum turpis nibh ligula molestie nisi habitasse justo congue, egestas sed maecenas placerat augue hac vitae at malesuada, etiam ullamcorper nullam erat diam lacinia commodo vehicula. Pulvinar ac vel habitant pharetra sociosqu urna cras himenaeos et aliquam justo orci magnis turpis eget, porttitor enim auctor ligula rhoncus morbi odio proin lobortis dui natoque duis facilisis. Egestas magnis odio iaculis non integer neque faucibus proin bibendum vel fames tellus ornare, pellentesque vulputate cubilia semper penatibus laoreet posuere vivamus cursus mattis hac lobortis.</p>
                <br/>
            </article>

            

        </section>
        <footer>
            <nav>
                <a href="plantilla.html"><h1>Hotel</h1></a><br/>
                <a href="ejemplo8.html">&triangleleft;</a> 
                <a href="ejemplo2.html">&triangleright;</a>
            </nav>
            <hr>
        </footer>
    </body>
</html>
